<div class="row">
  <div class="col-lg-12">
    <nb-card label="Register">
      <nb-card-header>Organisation Details</nb-card-header>
      <nb-card-body>
        <form [formGroup]="registerReactiveForm" (ngSubmit)="registerUser()">
          <!-- <table class="example-full-width" cellspacing="0"> -->
          <div class="example-full-width">
            <input class="child" nbInput fulllWidth shape="round" placeholder="Organisation Name" nbInput type="text"
              id="organisationName" [(ngModel)]="userdetails.organisationName" formControlName="organisationName">
            <nb-select class="btn" placeholder="Category" fulllWidth shape="round" id="category"
            [(ngModel)]="userdetails.category" formControlName="category">
              <nb-option value="0">Both</nb-option>
              <nb-option value="1">Buyer</nb-option>
              <nb-option value="2">Seller</nb-option>
            </nb-select>
          </div>
          <div class="example-full">
            <input class="child" nbInput fulllWidth shape="round" placeholder="GST" nbInput type="text" id="gst"
              [(ngModel)]="userdetails.gst" formControlName="gst">
            <input class="child" nbInput fulllWidth shape="round" placeholder="PAN" nbInput type="text" id="pan"
              [(ngModel)]="userdetails.pan" formControlName="pan">
          </div>
          <h6 style="font-size: 1rem">Organisation Address</h6>
          <div class="example-full">
            <input class="child" nbInput fulllWidth shape="round" placeholder="Address Line1" nbInput type="text"
              id="AddressLine1" [(ngModel)]="userdetails.addressLine1" formControlName="addressLine1">
            <input class="child" nbInput fulllWidth shape="round" placeholder="Address Line2" nbInput type="text"
              id="AddressLine2" [(ngModel)]="userdetails.addressLine2" formControlName="addressLine2">
          </div>
          <div class="example">
            <nb-select class="child2" placeholder="Country" fulllWidth shape="round" id="country"
            [(ngModel)]="userdetails.country" formControlName="country">
              <nb-option value="0">India</nb-option>
            </nb-select>
            <nb-select placeholder="State" fulllWidth shape="round" id="state"
            [(ngModel)]="userdetails.state" formControlName="state">
              <nb-option value="0">Andra Pradesh</nb-option>
              <nb-option value="1">Assam</nb-option>
              <nb-option value="2">Arunachal Pradesh</nb-option>
              <nb-option value="3">Haryana</nb-option>
              <nb-option value="4">Delhi</nb-option>
            </nb-select>
          </div>
          <div class="full-name-inputs">
            <nb-select class="nb" placeholder="District" fulllWidth shape="round" id="district"
            [(ngModel)]="userdetails.district" formControlName="district">
            <nb-option value="0">Karnal</nb-option>
            <nb-option value="1">Sonipat</nb-option>
            <nb-option value="2">Hisar</nb-option>
            </nb-select>
            <nb-select class="nb" placeholder="City" fulllWidth shape="round" id="city"
            [(ngModel)]="userdetails.city" formControlName="city">
            <nb-option value="0">Narnaul</nb-option>
            <nb-option value="1">Chandigarh</nb-option>
            <nb-option value="2">Hisar</nb-option>
            </nb-select>
           
          </div>
          <div class="example-full">
            <input class="child" nbInput fulllWidth shape="round" placeholder="Pincode" nbInput type="text" id="pincode"
              [(ngModel)]="userdetails.pincode" formControlName="pincode">
          </div>
          <h6 style="font-size: 1rem">Personal Details</h6>
          <div class="example-full">
            <input class="child" nbInput fulllWidth shape="round" placeholder="First Name" nbInput type="text"
              id="firstName" [(ngModel)]="userdetails.firstName" formControlName="firstName">
            <input class="child" nbInput fulllWidth shape="round" placeholder="Last Name" nbInput type="text"
              id="lastName" [(ngModel)]="userdetails.lastName" formControlName="lastName">
          </div>
          <div class="example-full">
            <input class="child" nbInput fulllWidth shape="round" placeholder="User Name" nbInput type="text"
              id="UserName" [(ngModel)]="userdetails.userName" formControlName="userName">
            <input class="child" nbInput fulllWidth shape="round" placeholder="Email" nbInput type="text" id="email"
              [(ngModel)]="userdetails.email" formControlName="email">
          </div>
          <div class="example-full">
            <nb-select class="child3" placeholder="Ext" fulllWidth shape="round" id="ext"
            [(ngModel)]="userdetails.ext" formControlName="ext">
              <nb-option value="0">+91</nb-option>
              <nb-option value="1">+92</nb-option>
              <nb-option value="2">+93</nb-option>
              <nb-option value="3">+98</nb-option>
              <nb-option value="4">+99</nb-option>
            </nb-select>
            <input class="child4" nbInput fulllWidth shape="round" placeholder="Mobile" nbInput type="text" id="mobile"
              [(ngModel)]="userdetails.mobile" formControlName="mobile">
            <input class="child" nbInput fulllWidth shape="round" placeholder="Phone" nbInput type="text" id="phone"
              [(ngModel)]="userdetails.phone" formControlName="phone">
          </div>
          <div class="parents">
            <input class="child" nbInput fulllWidth shape="round" placeholder="Password" nbInput type="password" value=""
              [(ngModel)]="userdetails.password" formControlName="password">
              <div class="error-messages">
                <ng-container *ngFor="let error of error_message.password">
                  <div class="error-message" *ngIf="registerReactiveForm.get('password').hasError(error.type) && (registerReactiveForm.get('password').dirty || registerReactiveForm.get('password').touched)">
                    {{ error.message }}
                  </div>
                </ng-container>
              </div>
            <input class="child" nbInput fulllWidth shape="round" placeholder="Confirm Password" nbInput type="password" value=""
              [(ngModel)]="userdetails.confirmPassword" formControlName="confirmPassword">
              <div class="error-messages">
                <ng-container *ngFor="let error of error_message.confirmPassword">
                  <div class="error-message" *ngIf="registerReactiveForm.get('confirmPassword').hasError(error.type) && (registerReactiveForm.get('confirmPassword').dirty || registerReactiveForm.get('confirmPassword').touched)">
                    {{ passwordNotMatch }}
                  </div>
                </ng-container>
               </div>
              </div>
          <div class="form-group row">
            <div class="offset-sm-3 col-sm-9">
              <button nbButton status="warning">Register</button>
            </div>
          </div>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>
