.table{
    -moz-box-shadow: 0 4px 2px -3px rgba(252, 15, 15, 0.5) inset;
    -webkit-box-shadow: 0 4px 2px -3px rgba(223, 30, 30, 0.5) inset;
    box-shadow: 0 4px 2px -3px rgba(128, 9, 9, 0.5) inset;
}