div {
    margin: 12px 10px;
    border: 1px solid #80808036;
  
    p { margin: 0; }
  }
  
  .sub-row {
    border: 0; 
    margin: 0;
    
    p {
      font-weight: bold;
      background: white;
      padding: 10px;
    }
  
    .mat-table { 
      background-color: inherit; 
    }
  }

  .expandable-row > mat-cell {
    display: flex!important;

    > div {
      flex: 1!important;
    }
  }
//   mat-header-cell {
//     overflow: unset!important;
//     padding: 0vw 1vw;
// }