

<div class="row">
    <div class="col-md-4">
        <nb-card>
            <nb-card-body>
           <span class="span"> <h1>40</h1><p>suppliers</p></span>
            </nb-card-body>
          </nb-card>
    </div>
    <div class="col-md-4">
        <nb-card>
            <nb-card-body>
                <span class="span"><h1>50</h1><p>organisations</p></span>
            </nb-card-body>
          </nb-card>
    </div>
    <div class="col-md-4">
        <nb-card>
            <nb-card-body>
                <span class="span"><h1>23</h1><p>dealers</p></span>
            </nb-card-body>
          </nb-card>
    </div>
</div>

  
  




<div class="row">
    <div class="col-md-6">
        <nb-card>
            <nb-card-body>
                <div class="end">
                    <nb-select placeholder="year" size="tiny" >
                        <nb-option value="1">Option 1</nb-option>
                        <nb-option value="2">Option 2</nb-option>
                        <nb-option value="3">Option 3</nb-option>
                        <nb-option value="4">Option 4</nb-option>
                      </nb-select>
                </div>
            <div style="display: block">
              <canvas baseChart
                [datasets]="barChartData"
                [labels]="barChartLabels"
                [options]="barChartOptions"
                [plugins]="barChartPlugins"
                [legend]="barChartLegend"
                [chartType]="barChartType">
              </canvas>
            </div>
            <!-- <button mat-button mat-raised-button color="primary" (click)="randomize()">Update</button> -->
        </nb-card-body>
    </nb-card>
    </div>

    <div class="col-md-6">
        <nb-card>
            <nb-card-body>

               
            <div>
              <div class="chart">
                <canvas baseChart
                  [data]="pieChartData"
                  [labels]="pieChartLabels"
                  [chartType]="pieChartType"
                  [options]="pieChartOptions"
                  [plugins]="pieChartPlugins"
                  [colors]="pieChartColors"
                  [legend]="pieChartLegend">
                </canvas>
              </div>
            </div>
        </nb-card-body>
    </nb-card>
          <!-- <div>
            <button mat-button mat-raised-button color="primary" (click)="pieChartLegend=!pieChartLegend">Toggle Legend</button>
            <button mat-button mat-raised-button color="primary" (click)="changeLabels()">Change Labels</button>
            <button mat-button mat-raised-button color="primary" (click)="addSlice()">Add Slice</button>
            <button mat-button mat-raised-button color="primary" (click)="removeSlice()">Remove Slice</button>
            <button mat-button mat-raised-button color="primary" (click)="changeLegendPosition()">Change Legend Position</button>
          </div> -->
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <nb-card>
            <nb-card-body>
                <div class="end">
                    <nb-select placeholder="year" size="tiny" >
                        <nb-option value="1">Option 1</nb-option>
                        <nb-option value="2">Option 2</nb-option>
                        <nb-option value="3">Option 3</nb-option>
                        <nb-option value="4">Option 4</nb-option>
                      </nb-select>
                </div>

            <div style="display: block">
              <canvas baseChart
                [datasets]="barChartData"
                [labels]="barChartLabels"
                [options]="barChartOptions"
                [plugins]="barChartPlugins"
                [legend]="barChartLegend"
                [chartType]="barChartType">
              </canvas>
            </div>
            <!-- <button mat-button mat-raised-button color="primary" (click)="randomize()">Update</button> -->
        </nb-card-body>
    </nb-card>
    </div>

    <div class="col-md-6">
        <nb-card>
            <nb-card-body>
            <div></div>
        </nb-card-body>
    </nb-card>
         
    </div>
</div>